BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BraceWrapping:
    AfterClass: false
    AfterControlStatement: false
    AfterEnum : false
    AfterFunction : false
    AfterNamespace : false
    AfterStruct : false
    AfterUnion : true
    BeforeCatch : true
    BeforeElse : true
    IndentBraces : false
    AfterExternBlock : true
    SplitEmptyFunction : false
    SplitEmptyRecord : false
    SplitEmptyNamespace : true
ColumnLimit: 0
Cpp11BracedListStyle: true
IndentCaseLabels: true
SortIncludes: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: true
SpaceInEmptyParentheses: false
SpacesInParentheses: true
