useAlpino=1
decompounderPath="/home/sloot/svn/decompounder/"
styleSheet="tscanview.xsl"

rarityLevel=4

configDir=data
adj_semtypes="adjs_semtype.data"
verb_semtypes="verbs_semtype.data"
noun_semtypes="nouns_semtype.data"
polarity_lex="polarity_lexicon.data"
polarity_threshold=0.01

freq_lex="dcoi_staphformat.freq"

[[frog]]
port=7345
host=localhost
