useAlpino=1
useAlpinoServer=1
useWopr=1

styleSheet="tscanview.xsl"

rarityLevel=4
overlapSize=50
frequencyClip=99
mtldTreshold=0.720

configDir=data
adj_semtypes="data/adjs_semtype.data"
verb_semtypes="verbs_semtype.data"
noun_semtypes="data/nouns_semtype.data"

staph_word_freq_lex="freqlist_staphorsius_CLIB_words.freq"
word_freq_lex="freqlist_staphorsius_CLIB_words.freq"
lemma_freq_lex="freqlist_staphorsius_CLIB_lemma.freq"
#top_freq_lex="SoNaR500.wordfreqlist20000.freq"
top_freq_lex="freqlist_sonarnews_words20000.freq"

temporals="temporal_connectors.lst"
opsommers="opsom_connectors.lst"
contrast="contrast_connectors.lst"
compars="compar_connectors.lst"
causals="causal_connectors.lst"

causal_situation="causaliteit.txt"
space_situation="ruimte.txt"
time_situation="tijd.txt"
emotion_situation="emoties.txt"

voorzetselexpr="voorzetseluitdrukkingen.txt"
afkortingen="afkortingen.lst"

[[frog]]
port=7001
host=localhost

[[wopr]]
port=7002
host=localhost

[[alpino]]
port=7003
host=localhost

