Helaas heb ik een probleem
de situatie zit zo.
Ik doe mee aan jullie spaaractie
maar er zijn geen repen met punten meer
dus kocht ik 2 repen zonder punten.
Gelieve een telefoon terug 
te sturen naar het adres.

