Hallo, ik ben Natali. Ik had acht spaarpunten, 
maar er waren geen spaarpunten meer terwijl het nog geen
30 april is! Ik wil al jaren een mobieltje maar ik krijg
het maar niet. Toen ik de actie zag, dacht ik: als ik
meedoe win ik misschien wel die telefoon! Ik wist het
pas toen het 18 april was, dus kocht meteen een
SMIKKEL-reep. Van mijn moeder mocht ik er elke dag 
één kopen, maar nu (26 april) zijn ze er niet meer!
Dus nu stuur ik jullie 8 spaarpunten en 2 wikkels.
(Daar horen dus eigenlijk nog 2 spaarpunten bij!)

