Ik ben Romy en ik doe mee aan de spaaractie.
Ik heb al 8 punten, toen ik naar de winkel toe
ging wou ik 2 repen kopen, maar er waren geen 
punten op de verpakking.
En ik wil weten waarom niet want het is nog geen
30 april.
Ik heb dus 8 punten en 2 repen opgestuurd.
Want ik wil heel graag die telefoon hebben dus
stuur zo snel mogelijk een brief terug a.u.b. 

Alvast hartelijk dank.






