vrijdag.

Leen is in tranen als ik thuis kom. 

Ze ligt op de bank, en zodra ze mij in de gang hoort begint ze hartverscheurend te snikken. 

Ik ken het verschijnsel. 

Leen houdt er niet van om enegie te verspillen. 

Huilen is prima, maar dan moet ze wel een publiek hebben. 

Wat trouwens niet wil zeggen dat haar verdriet daardoor minder oprecht is, het zijn gewoon twee dingen die je uit elkaar moet houden als je haar wilt begrijpen.

Ik trek mijn jas uit en ga op een vrij plekje bank zitten. 

'Wat is er Leen?' 

'Ze gaan op wintersport', snikt ze. 

'Wie?' vraag ik, al heb ik wel een idee om wie het gaat. 

'Liselore en die drel van haar.' 

'Tja', zeg ik, omdat ik niet zo gauw een betere tekst weet. 

'Ze houdt van me. 

Dat zegt ze elke dag als we elkaar bellen. 

Dat staat in al haar smsjes. 

En nu laat ze me zitten.' 

'Lieve schat, dan wordt het tijd dat ze een keuze maakt. 

Of misschien heeft ze die al gemaakt en betekent die wintersport dat ze bij haar vriendin blijft.

' Het is niet helemaal het gewenste antewoord, merk ik aan het toenemende volume van Leens gesnik.

'Jezus Leen, gebruik je hersens nou eens een keer. 

Hoe goed ken je Liselore nou eigenlijk. 

Een paar keer op het strand gezien, een paar gesprekjes, een nachtje stiekem foezelen met elkaar en that's it. 

Misschien is ze gek op spelletjes zoals ze nu met jou speelt. 

Misschien meent ze wat ze tegen jou zegt maar durft ze het niet aan om bij Agnes op te stappen. 

Hoe dan ook, forceer een uitspraak van haar. 

Zet haar voor het blok. 

Het is Agnes of Leen en anders is het dag met het handje.'  

'Dag met wàt..?' vraagt Leen. 

