Wat is HOT en wat helemaal NOT?

Nu we de drempel naar 2012 goed en veilig over zijn, moet het maar eens gezegd worden: wat willen we ab-so-luut niet meer terugzien? 

En waar verheugen we ons nu al op?

Reality-sterren.

Toegegeven: we hebben het lang leuk gevonden om naar mensen te kijken die helemaal niets kunnen. 

Behalve ongelooflijk verwend en blasé zijn (Gooische Meisjes), ordinair en laagbegaafd doen (Barbie) of al het voorgaande tegelijk (Kim Kardashian). 

Ze zuipen, schreeuwen, trouwen én scheiden erop los voor het oog van de camera en beginnen ondertussen zelf ook te geloven dat ze bijzonder zijn. 

Hun houdbaarheidsdatum komt in plaats daarvan met de dag dichterbij en wat ons betreft zijn ze nu al hopeloos over datum. 

Behalve Britt dan. 

Die bederft niet zo snel.

Gladgepolijste mensen.

In Hollywood lopen ze onbedoeld altijd een beetje achter. 

Ze blijven daar namelijk hardnekkig geloven in perfectie. 

Dus ontwikkelen ze aan de lopende band akelige aandoeningen als bleachorexia (voor van die leuke glow-in-the-dark-tanden), tanorexia (voor de betere Rachel Hazes-teint) en botoxia (voor een levend dodenmasker). 

Jongens, niet meer doen hoor. 

Imperfectie is heet op de catwalk! 

Laat die wenkbrauwen maar lekker woekeren, net als HNTM-winnares Tamara! 

En heb je een spleetje tussen de - niet al te witte - tanden, net als Lara Stone, dan ben je nóg hipper. 

Doe er je voordeel mee.

Game of thrones.

Na onze jarenlange obsessie met knuffelseriemoordenaar Dexter en de iets minder knuffelbare (maar wel ongelooflijk geile) vampier Eric in 'True blood', wordt het wel weer eens tijd voor een verse verslaving. 

En dat wordt 'Game of thrones': dé HBO-hit in Amerika, die ongetwijfeld ergens in 2012 bij ons te zien zal zijn. 

De ingrediënten: een fictief land, kastelen, ridders, sex, macht, geweld en Jason Momoa. 

Ja, die op het plaatje.
