Zij woonden in lemen boerderijen, gebruikten houten en stenen werktuigen en maakten dus potten om voorraden in te bewaren.
Maar in de provincie Drenthe liggen hun resten gewoon boven de grond.
Het gaat om hunebedden, grote steenformaties die door mensenhanden geordend en op elkaar gestapeld zijn.
Maar lang niet overal zijn deze begraafplaatsen gebouwd met zulke grote zwerfkeien.
Die waren alleen te vinden in Drenthe, Denemarken en Noord-Duitsland.
Men denkt dat ze van grond een 'oprit' maakten, en ronde stammetjes gebruikten om de steen  overheen te laten rollen.
