Men denkt dat zij daar tijdens een van de ijstijden, zo'n 150.000 jaar geleden, terecht zijn gekomen.
Met zulke resten in de grond hebben onderzoekers achterhaald hoe de eerste generaties landbouwers leefden.
