Ze hebben zeker ook afspraken gemaakt over bezit en rechtspraak, maar welke dat zijn is niet meer te achterhalen, omdat deze vroege boeren geen schrift kenden.
Ook toen de wereld vijfduizend jaar jonger was, woonder er mensen in de Lage Landen.
Zij hielden als eersten in deze streek op met het bestaan als jager en verzamelaar en gingen wonen op een vaste plek.
