Het weinige dat zij hebben nagelaten, ligt meestal verscholen in de grond.
Bij opgravingen in en rond hunebedden zijn geen skeletten, die na al die duizenden jaren helemaal vergaan zijn, gevonden, maar wel cadeaus aan de doden voor het leven na de dood.
Onder die cadeaus waren ook bijzondere potten, die vanwege hun vorm 'trechterbekers' worden genoemd.
Hoe het deze mensen gelukt is om zonder machines stenen te vervoeren die soms wel 20.000 kilo wegen, is ook nog steeds niet helemaal duidelijk.
