Hij leerde er jongens kennen die dol waren op een biertje en meisjes met blonde haren.  
Jan vertelde dat hij verhinderd was.
Carola vond, dat Artur wel erg raar deed.
De man die daar loopt, heb ik nog nooit gezien.
Ik verwacht dat hij niet komt. 
Ik geloof dat hij de weg kwijt is.
