Het weinige dat zij hebben nagelaten, ligt meestal verscholen in de grond. 
Of ik morgen zal slagen is mij niet bekend.
Dat je in zulke kleren naar school gaat, is raar.
Wie zoiets dappers presteert, verdient een hoge beloning.
Het is erg aardig dat je me geholpen hebt.
Het voorstel, waarover ik je vertelde, is aangenomen.
De eik die al eeuwen oud is, is door de bliksem geveld.
Hoe deze mensen in staat zijn geweest om zonder machines stenen van de grond te krijgen die soms wel 20.000 kilo wegen, is ook nog steeds niet helemaal duidelijk.
Het testen van een game en hier een recensie over schrijven lijkt mij een ideale baan.
Het lijkt wel of ze zich heeft moeten haasten. 
Wie verre reizen doet, kan veel verhalen.
