In Drenthe zijn nog ruim vijftig hunebedden bewaard gebleven, en nog twee in Groningen.
Zij woonden in lemen boerderijen, hanteerden houten en stenen werktuigen en maakten dus potten om voorraden in te bewaren. 
Onder de gasten zagen we mevrouw Bruinsma, de moeder van de jubilaris en de burgemeester. 
Ik houd niet van Koos Alberts, maar ik ben sowieso geen liefhebber van het Nederlandse lied. 
Karel hechtte groot belang aan onderwijs, cultuur en wetenschap. 
De jongen liep de trap op en ging zijn kamer in. 
Het meisje heet Aïsha en komt uit Rotterdam. 
Het regent, de straten worden nat.
Na over de muur te zijn gesprongen, raakte hij uit balans en viel. 
