Terwijl we in de wachtkamer rustig op onze beurt zaten te wachten, werd er een door een dolle hond in zijn been gebeten man binnengebracht, die natuurlijk voor ging. 
Het was niet duidelijk wie toen de vlammen uit het dak waren geslagen, de brandweer had opgebeld.
Ik vond dat de spreker, die geen van de aanwezigen tekort wilde, reeds lange tijd bij het bewogen verleden van de jubilaris had verwijld.
Het plaats delict waar de jongen, die net 14 was geworden, dood is aangetroffen is inmiddels vrijgegeven.
Ik zag dat de man die een gebroken been had eerder geholpen werd dan de vrouw met een gebroken arm.
Dat de republikein, die elke dag een andere vrouw aan zijn arm had hangen, de verkiezingen won, was wel een grote verrassing.
Het moeten er echter veel meer zijn geweest, want in de loop der eeuwen zijn heel wat hunebedden verdwenen, bijvoorbeeld omdat de stenen als bouwmateriaal werden gebruikt.
