Julia blijft thuis, omdat het heel hard regent. 
Als het droog blijft, ga ik een stuk fietsen.
Tenzij jij me tegenhoudt, ga ik nu toch echt naar huis!
Hoewel hij zelf nauwelijks zijn eigen naam kon schrijven, was hij wel bedreven in rekenen en sterrenkunde, en sprak hij verschillende talen.
Een door een dolle hond in zijn been gebeten man werd binnengebracht terwijl we in de wachtkamer rustig op onze beurt zaten te wachten.
