Ella had de hele avond bij ons gezellig zitten babbelen.
De vergadering zou een week later worden gehouden. 
Jan schijnt aardig te zijn. 
Mijn moeder heeft gisteren op de markt appels gekocht 
Ik ben maar gaan lopen.
