Kinderen worden zo snel groot. 
Kun je ze niet af en toe sealen zodat ze niet ouder worden? 
'Pap, ik wil een skateboard voor mijn verjaardag.' 
'Goed zoon, gaan we doen.' 
Ziehier, een summiere samenvatting van een goed vader-zoon gesprek.
'Toen ik tien was, maakten we zelf een skateboard met een plank en vier wieltjes van een gevonden winkelkar van de Aldi. 
Die wieltjes lieten te snel los, ' vervolgde ik. 
'Pap, ik weet waar we moeten zijn.' 
Het belooft een mannendag te worden. 
En dus sta ik op zaterdagochtend in een skateboard afgezakte broeken winkel met mijn mannetje. 
De muziek is wat heftig en net iets te hard voor op de achtergrond, zou ik zo denken. 
Ja, papa wordt oud, ik weet het. 
Mijn zoontje wordt ook ouder, want hij is ook al 'bijna' tien en hij vindt het hier helemaal 'top'. 
Grote zoekende ogen want hij is best onder de indruk maar zijn stoere slenter-sleep loopje compenseert dat ruimschoots. 
'Goeiemiddag, ik kom voor een skateboard voor mijn zoontje.' 
'Ok man, cool, Ollie kan je ff helpen?' 
Ollie blijkt een opgeschoten lange jongen van een jaar of twintig te zijn. 
Achterin de winkel staat hij dozen in of uit te pakken, dat is mij niet helemaal duidelijk. 
Maar hij is er best druk mee. 
Lage zwarte broek, grote gympen met losse veters, een zwart T-shirt met een cartoon gothic kop erop en op zijn eigen hoofd een (hoe kan het ook anders) zwart mutsje.
'Hey man, alles flex ?' ... 
'Euh ja zeker, alles kits achter de rits... '
Ik voel mijn zoontje  duizend doden sterven.
Ik kijk naar Ollie en Ollie kijkt naar mij. 
Ik heb voor de gelegenheid mijn favoriete jasje aangetrokken. 
Camelkleurig van wol met een fijn visgraatje. 
Niets leukers dan je als ouwe lul te kleden. 
