This mountain is very big and the scene is very good and there is a lake.
Lake is very beautiful and beside there is a tree and over there I see the big
mountain. There is a very beautiful And this Taro’s room. Before is Taro’s name on textbook but
