Een tweede huis.

Een duur tweede huis.

Drie en een halve liter.

Alle boeken.

De meeste boeken.

Alle vijf de boeken.

Willem de Tweede.

De eerste drie kinderen.

Peters honden.

De geasfalteerde wegen.

Blaffende honden.

De te nemen maatregelen.

De stad Antwerpen.

Prinses Juliana.

Het getal zeven.

Bladzij 22.

Een plakje kaas.

Drie liter melk.

Een glas rode wijn.

Dat soort vragen.

Het arbeidsbureau nieuwe stijl.

Een kaartje eerste klas.

De leraar aardrijkskunde.

Het hoofd buitenlandse betrekkingen.

De schipper, een voorzichtig man, bleef thuis.

De componist van deze sonate, Mozart.

Mozart, de componist van deze sonate.

Mozart, de componist van deze schitterende sonate.

Die wedstrijd Ajax-Anderlecht vorige week.

Die wedstrijd Ajax-Anderlecht van vorige week.

Die kamer boven.

De plek des onheils.

Koning Boudewijn van België.

De jeugd van tegenwoordig.

Jongens zonder manieren.

Het huis van mijn ouders.

Een boek met plaatjes erin.

Een dag als vandaag.

Alle kinderen behalve de oudste.

Een auto zoals die van Rinus .

Een kind om te zoenen.

De opdracht om thuis te blijven.

Ik heb het gevoel nergens bij te horen.

De verwachting dat hij snel weer opknapt.

Een boek zoals ik zelf zou willen schrijven.

Een boek dat ik zelf zou willen schrijven.

De vraag wie dat gedaan heeft.

De groep waartoe de herten behoren.

De groep waartoe de herten en zwijnen behoren.

De groep waartoe de grootste herten behoren.

