Hij kwam omdat ik hem gevraagd had.
Ik ga weg omdat ik moe ben en omdat ik naar bed wil.
Zie je hem niet staan, ga dan meteen naar huis.
Als je hem niet ziet staan, ga dan meteen naar huis.
Als je hem niet ziet staan, dan ga je meteen naar huis.
Ik heb alles gedaan, inclusief het werk voor morgen.
Wat u doet, is onaanvaardbaar.
Wie te laat komt, laten we niet meer binnen.
Wie het niet begrijpt, zal ik het nog eens uitleggen.
Zo belangrijk is kinderopvang voor wie gaat werken.
Ik twijfel aan wat je zegt.
Hij is geworden wie hij altijd wilde zijn.
Waar ik vandaan kom, houden ze juist van dat soort humor.
Hij heeft over het touw gelopen zonder dat hij viel.
De verwachting dat er een einde aan zou komen, werd niet bewaarheid.
Er zijn allerlei verhalen over hoe hij won.
Hij is zo blind dat hij dat niet ziet.
