Peter en Arie zijn gekomen.
Peter en Thea zijn gekomen, en Arie en Truus ook.
Peter en Thea en Arie en Truus zijn gekomen.
Ik heb zijn zoon en zijn dochter gezien.
Ik heb zijn zoon, zijn dochter en zijn schoonzoon gezien.
Zijn zoon, zijn dochter en zijn schoonzoon zijn verongelukt.
Hij gaf zich zonder slag of stoot gewonnen.
Ik heb genoeg van dat gezanik en gezeur.
Hij is erg mooi en bijzonder intelligent.
Hij is overal en nergens.
Hij is even boven en even beneden.
Hij is altijd aan het schikken en het plooien.
Dat is leuk in de middag of in de avond.
Deze man moet opgenomen en geholpen worden.
Deze man moet opgenomen, onderzocht en geholpen worden.
We hebben toen langs het strand gewandeld en het stadje verkend.
Ik heb hem leren lopen en fietsen.
Licht wankelend en half vallend strompelde hij weg.
Een oeroud dilemma: aanvallen of vluchten.
Een oeroud dilemma: aanvallen, verstoppen of vluchten.
Toen ging ik toch twijfelen en ben ik nog even teruggelopen.
En toen begon het te regenen en dat deed het de rest van de dag.
Hij neemt ontslag omdat hij moe is, en omdat hij weg wil.
Dat is leuk om te horen en te zien.
Dat is leuk om te horen en om te zien.
De man die mij sloeg en verwondde is gevlucht.
De man die mij sloeg en die mij bespuugde is opgepakt.
Als je te laat bent, ga dan naar huis en blijf daar.
Wat hij komt doen en wat hij wil weet ik niet.
Hij hoestte, wat mij teleurstelde en wat mij ergerde.
