# these (large) files are retrieved using downloaddata.sh
tscan-bigdata.tar.bz2
dcoi_staphformat.freq
freqlist_sonarnews_lemma.freq
freqlist_sonarnews_words20000.freq
freqlist_sonarnews_words.freq
freqlist_staphorsius_CLIB_lemma.freq
freqlist_staphorsius_CLIB_words.freq
lsa_newspaper_lemma_model_700_filtered.lsi
newspaper_contentlemma_dictionary_filtered.dict
SoNaR500.withoutnames_wordfreqlist20000.freq
SoNaR500.wordfreqlist20000.freq
SoNaR500.wordfreqlist_lemma.freq
SoNaR500.wordfreqlist_words.freq
sonar_newspapercorp_tokenized.3.txt.l0r2_-a4+D.ibase
sonar_newspapercorp_tokenized.3.txt.l2r0_-a4+D.ibase
sonar_newspapercorp_tokenized.3.txt.lex
subtlex_lemma.freq
subtlex_words20000.freq
subtlex_words.freq

# RBN-derived data
adjs_semtype.data
general_nouns.data
general_verbs.data
intensiveringen.data
nouns_semtype.data
verbs_semtype.data
